#### 1. Dataframe basics

#### 1.1. Import pandas and reffered the package as pd + Load "telecom_churn.csv" and assign in to the variable df <span style= color:#0033cc>(3 points)</span>

In [1]:
!pip install pandas
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.2.6-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\leahl\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\leahl\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.5 MB 2.9 MB/s eta 0:00:04
   ---- ----------------------------------- 1.3/11.5 MB 3.0 MB/s eta 0:00:04
   ------ --------------------------------- 1.8/11.5 MB 2.7 MB/s eta 0:00:04
   --------- ------------------------------ 2.6/11.5 MB 2.9 MB/s eta 0:00:04
   ---------- ----------------------------- 3.1/11.5 MB 2.9 MB/s eta 0:00:03
   ------------ --------------------------- 3.7/11.5 MB 2.8 MB/s eta 0:00:03
   -------------- ------------------------- 4.2/11.5 MB 2.7 MB/s eta 0:00:03
   ----------------- ---------------------- 5.0/11.5 MB 2.8 MB/s eta 0:00:03
   ------------------- -------------------- 5.5/11.5 MB 2.8 MB/s eta 0:00:03
   --------------------- ------------------ 6.0/11.5 MB 2.8 MB/s eta 0:00:02
   ----------------------- ---------------- 6.8/11.5 MB 2.8 MB/s eta 0:00:02
   ------------------------ --------------- 7.1/11.5 MB 2.9 MB/s eta 0:00:02
   --------------------------- ------------ 7.9/11.5 MB 2.8 MB/s eta 0:00:02
   ----------------------------- ---------- 8.4/11.5 MB 2.9 MB/s eta 0:00:02
   -------------------------------- ------- 9.4/11.5 MB 2.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.5 MB 2.9 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.5 MB 2.9 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 2.7 MB/s eta 0:00:00
Using cached numpy-2.2.6-cp313-cp313-win_amd64.whl (12.6 MB)
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.6 pandas-2.2.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
df = pd.read_csv('telecom_churn.csv');

In [22]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

#### 1.2 Return the column labels/names <span style= color:#0033cc>(2 points)</span>

In [6]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

#### 1.3 Print the df shape <span style= color:#0033cc>(3 points)</span>

In [8]:
df.shape

(3333, 20)

#### 2. What is the total day calls given by state and area code?

#### 2.1 Group the df by state and area code (assign it to grouped variable). <span style= color:#0033cc>(5 points)</span>

In [15]:
grouped=df.groupby(['State','Area code'])
grouped

#### 2.2 Use agg with the desired function sum to get the final answer (assign it to telecom_agg variable).<span style= color:#0033cc>(5 points)</span>

In [17]:
telecom_agg = grouped.agg('sum')
telecom_agg

                 Account length  \
State Area code
AK    408                  1116
      415                  2532
      510                  1406
AL    408                  2454
      415                  3828
...                         ...
WV    415                  5142
      510                  3133
WY    408                  1598
      415                  4401
      510                  2143

                                                International plan  \
State Area code
AK    408                             NoNoNoNoNoNoNoNoNoNoNoNoNoNo
      415        YesNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoN...
      510                           NoNoNoNoYesNoNoYesNoNoNoNoNoNo
AL    408        NoNoNoYesNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoN...
      415        NoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoYesNoNoYesNoN...
...                                                            ...
WV    415        YesNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoYesNoNoN...
      510        NoYesNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...
WY    408                      NoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoNo
      415        NoNoYesNoNoNoNoNoNoNoNoYesNoNoNoYesNoYesNoNoNo...
      510                NoNoNoNoNoNoYesNoYesNoNoNoNoYesNoNoNoNoNo

                                                   Voice mail plan  \
State Area code
AK    408                         YesNoNoNoNoNoNoYesNoNoNoYesNoYes
      415        YesNoYesNoNoNoNoNoYesNoNoYesYesNoNoYesYesYesNo...
      510                           YesNoNoNoNoNoNoYesNoNoNoNoNoNo
AL    408        NoYesNoYesYesNoNoNoNoNoNoYesNoYesNoNoNoNoNoYes...
      415        NoNoYesYesNoNoNoNoYesYesNoNoNoYesNoNoNoNoNoNoN...
...                                                            ...
WV    415        YesNoNoNoNoNoNoNoYesNoNoNoYesYesYesYesNoNoYesN...
      510        NoYesYesYesNoNoNoYesNoNoNoYesYesNoNoYesNoNoNoN...
WY    408                  YesYesNoNoNoYesYesYesNoNoNoNoNoNoNoNoNo
      415        YesNoNoNoYesNoNoYesNoNoNoNoNoNoNoYesYesYesYesN...
      510                NoNoNoNoNoNoNoYesNoNoNoNoNoNoYesYesNoNoNo

                 Number vmail messages  Total day minutes  Total day calls  \
State Area code
AK    408                          132             2435.8             1342
      415                          291             4468.7             2357
      510                           48             2371.5             1255
AL    408                          214             4751.2             2524
      415                          261             7336.9             4090
...                                ...                ...              ...
WV    415                          382             9046.1             5474
      510                          384             5719.7             3491
WY    408                          187             2882.1             1659
      415                          263             7410.3             4205
      510                           52             3580.7             2007

                 Total day charge  Total eve minutes  Total eve calls  \
State Area code
AK    408                  414.09             2416.8             1376
      415                  759.69             4299.7             2306
      510                  403.16             2866.2             1340
AL    408                  807.69             4746.2             2513
      415                 1247.27             7957.0             3962
...                           ...                ...              ...
WV    415                 1537.86             9461.4             5111
      510                  972.39             6607.1             3480
WY    408                  489.95             3537.6             1699
      415                 1259.76             8460.7             4030
      510                  608.72             3850.5             1912

                 Total eve charge  Total night minutes  Total night calls  \
State Area code
AK    408                  205.43               2547.1               1411
      415                  365.48               4568.3               2321
      510                  243.63               2885.6               1330
AL    408                  403.42               4567.5               2367
      415                  676.36               7593.1               3917
...                           ...                  ...                ...
WV    415                  804.19              10773.8               5349
      510                  561.59               6777.1               3307
WY    408                  300.69               3213.8               1658
      415                  719.15               8232.9               4291
      510                  327.30               3889.2               1907

                 Total night charge  Total intl minutes  Total intl calls  \
State Area code
AK    408                    114.61               142.6                58
      415                    205.59               225.9               119
      510                    129.85               152.5                73
AL    408                    205.53               274.2               109
      415                    341.70               393.6               194
...                             ...                 ...               ...
WV    415                    484.85               553.4               242
      510                    304.98               315.3               138
WY    408                    144.61               175.7                95
      415                    370.47               417.3               185
      510                    175.04               207.3               103

                 Total intl charge  Customer service calls  Churn
State Area code
AK    408                    38.53                      15      0
      415                    60.98                      38      3
      510                    41.17                      28      0
AL    408                    74.05                      32      4
      415                   106.26                      71      3
...                            ...                     ...    ...
WV    415                   149.45                      79      3
      510                    85.16                      54      6
WY    408                    47.46                      17      0
      415                   112.67                      65      5
      510                    55.99                      29      4

[153 rows x 18 columns]

#### 2.3 Reset the group by index <span style= color:#0033cc>(3 points)</span>

In [19]:
telecom_agg = telecom_agg.reset_index()

#### 2.4 Use head function to review the first 10 telecom_agg rows <span style= color:#0033cc>(3 points)</span>

In [20]:
telecom_agg.head(10)

,State,Area code,Account length,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,AK,408,1116,NoNoNoNoNoNoNoNoNoNoNoNoNoNo,YesNoNoNoNoNoNoYesNoNoNoYesNoYes,132,2435.8,1342,414.09,2416.8,1376,205.43,2547.1,1411,114.61,142.6,58,38.53,15,0
1,AK,415,2532,YesNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoN...,YesNoYesNoNoNoNoNoYesNoNoYesYesNoNoYesYesYesNo...,291,4468.7,2357,759.69,4299.7,2306,365.48,4568.3,2321,205.59,225.9,119,60.98,38,3
2,AK,510,1406,NoNoNoNoYesNoNoYesNoNoNoNoNoNo,YesNoNoNoNoNoNoYesNoNoNoNoNoNo,48,2371.5,1255,403.16,2866.2,1340,243.63,2885.6,1330,129.85,152.5,73,41.17,28,0
3,AL,408,2454,NoNoNoYesNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoN...,NoYesNoYesYesNoNoNoNoNoNoYesNoYesNoNoNoNoNoYes...,214,4751.2,2524,807.69,4746.2,2513,403.42,4567.5,2367,205.53,274.2,109,74.05,32,4
4,AL,415,3828,NoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoYesNoNoYesNoN...,NoNoYesYesNoNoNoNoYesYesNoNoNoYesNoNoNoNoNoNoN...,261,7336.9,4090,1247.27,7957.0,3962,676.36,7593.1,3917,341.70,393.6,194,106.26,71,3
5,AL,510,1560,YesYesNoNoNoNoNoNoNoNoNoNoNoNoNo,NoNoNoNoYesYesNoNoYesNoNoNoNoYesNo,99,2792.7,1314,474.76,2933.8,1402,249.38,2822.2,1605,127.00,155.6,73,42.01,22,1
6,AR,408,1289,NoNoNoNoYesNoNoNoNoNoNoNoNo,NoNoNoNoNoYesNoNoNoNoNoNoNo,16,2187.3,1382,371.83,2475.3,1421,210.41,2760.6,1185,124.24,142.1,62,38.36,19,1
7,AR,415,2684,NoNoYesNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoYesYes...,NoNoYesYesNoNoYesNoYesNoNoYesYesNoNoNoNoYesYes...,248,4843.1,2756,823.32,5444.2,2597,462.78,5283.7,2750,237.78,277.8,119,75.02,66,9
8,AR,510,1361,NoNoNoNoNoNoNoNoYesNoNoNoNoNoNo,NoYesYesNoNoNoNoYesNoNoNoYesNoNoNo,132,2656.0,1480,451.55,3138.1,1363,266.74,3255.7,1513,146.50,150.6,77,40.66,24,1
9,AZ,408,1384,NoNoNoNoNoNoNoNoNoNoNoNoNoNoNo,NoNoNoYesYesNoNoNoNoNoNoNoYesNoYes,136,2695.3,1452,458.20,2888.6,1538,245.52,3252.2,1580,146.36,160.7,56,43.40,27,1

#### 3. Users Churn rate

#### 3.1 Change "Churn" column type to an integer: <span style= color:#0033cc>(3 points)</span>

In [21]:
df["Churn"] = df["Churn"].astype(int)

#### 3.2 what is the users "churn rate" in our dataframe? <span style= color:#0033cc>(5 points)</span>
Hint: the churn rate formula can be calculated as the "number of churned" divided by the "total number of customers".

In [25]:
churn_rate = df["Churn"].sum() / len(df)
print(churn_rate)

0.14491449144914492

#### 3.3  How the charn rate can affect on the company? <span style= color:#0033cc>(3 points)</span>

#### 3.4 How much time (on average) do churned users spend on the phone during daytime? <span style= color:#0033cc>(5 points)</span>
Hint: filter churn column when the value of churn equal to 1

#### 3.5 What is the maximum length of international calls among loyal users who do not have an international plan? ('International plan' == 'No') <span style= color:#0033cc>(5 points)</span>
Hint: 2 filters conditions,churn equal to 0 and international plan equal to no

#### 4. Select top 3 international plan subscribers and non subscribers with the most intl calls

#### 4.1. Build a function top which attributes df, n (for the top n) and column. In this function use sort_values to sort the values in the column specified. <span style= color:#0033cc>(10 points)</span>
Note: Do not apply the function on the whole data frame (e.i. top(df, n=3)) as the output will be the top 3 regardless of subscribers and non-subscribers.

#### 4.2. Group the df dataframe by 'International plan' and use apply(top) to apply this function. <span style= color:#0033cc>(5 points)</span>

#### 5. pd.crosstab

#### 5.1 how the observations in our sample are normalized (divide each value by the sum of the values) in the context of two variables - Churn and Voice mail plan. To do so, build a contingency table using the crosstab method. <span style= color:#0033cc>(6 points)</span>
Hint: To normalize using all values, simply set normalize=True

#### 5.2 What is the conclustion of most of users regarding voice mail usage? <span style= color:#0033cc>(4 points)</span>

#### 6. Columns calculations

#### 6.1 Add a column name 'total_charge', and get the total charge by sum all the charge columns <span style= color:#0033cc>(7 points)</span>

####  6.2 Add a column name 'Day_charge_pct', and get day charge precentage of total charge by dividing the column 'Total day charge' by the column 'total_charge'. <span style= color:#0033cc>(7 points)</span>

#### 7. Day charge percentage and state visualization

#### 7.1 Import matplotlib.pyplot and referred the package as plt <span style= color:#0033cc>(2 points)</span>

#### 7.2 create new string list with the name 'my_color' that contains the following colors names: red,green,orange,blue,yellow <span style= color:#0033cc>(4 points)</span>

#### 7.3 Bar chart plot <span style= color:#0033cc>(10 points)</span>

1.Select first 5 rows of the dataframe (use df.iloc[])

2.Use <span style= color:blue>df.plot</span> function with kind='bar' and x='State' and y='Day_charge_pct' and color = my_colors to make a simple bar chart plot (of the day chart %).

3.Use <span style= color:blue>plt.xlabel("State Code")</span> and <span style= color:blue>plt.ylabel("Day Charge %")</span> to label the corresponding axes